<mat-toolbar color="primary">
    <span EncabezadoEstandar>Administracion escolar</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav mode="side" opened class="example-sidenav">
        <mat-nav-list>
            <mat-list-item routerLink="">
                <mat-icon>home</mat-icon><span>HOME</span>
            </mat-list-item>
            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>
                    Administradores
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="listAlums">
                        <mat-icon>face</mat-icon><span>Alumnos</span>
                    </a>
                    <a mat-list-item routerLink="usuarios">
                        <mat-icon>accessibility</mat-icon><span>Usuarios</span>
                    </a>
                    <a mat-list-item routerLink="cursos">
                        <mat-icon>class</mat-icon><span>Cursos</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

