.mat-toolbar.mat-primary {
  background: #055378;
  color: #fff;
}

.sidenav-container {
  height: 100%;
  position: absolute;
}

.example-sidenav {
  display: flex;
  height: 100%;
  width: 200px;
  align-items: center;
  justify-content: center;
  background: #73cae7;
}

.sidenav-content {
  display: flex;
  height: 100%;
  width: 1460px;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/images/backgroundImage.jpg");
}
